<div class="container">

  <!-- Step 1 -->
  <!-- =========================== -->
  <div class="panel panel-info" *ngIf="step === 1">
    <div class="panel-heading ">
      <h2 class="panel-title">Step 1</h2>
    </div>

    <div class="panel-body">
      <div class="alert alert-danger" *ngIf="message" role="alert">
        {{message}}
      </div>

      <div class="form-group">
        <label class="control-label">Login</label>
        <!-- maxlength="{{emailMaxLength}}" -->
        <input [(ngModel)]="step1Model.email" class="form-control" placeholder="Enter Email" type="text" #email="ngModel" />
        <p class="help-block">Login must be a valid email</p>
        <p class="field-error" *ngIf="(showErrors || !email.pristine) && step1Model.validateEmail().isValid === false">{{step1Model.validateEmail().errorMessage}}</p>
      </div>

      <div class="form-group">
        <label class="control-label">Password</label>
        <input [(ngModel)]="step1Model.password" class="form-control" placeholder="Enter password" type="password" #password="ngModel" />
        <p class="help-block">Password must contains min 1 digit and min 1 letter. Min length 8 symbols</p>
        <p class="field-error" *ngIf="(showErrors || !password.pristine) && step1Model.validatePassword().isValid === false">{{step1Model.validatePassword().errorMessage}}</p>
      </div>

      <div class="form-group">
        <label class="control-label">Configm password</label>
        <input [(ngModel)]="step1Model.confirmPassword" class="form-control" placeholder="Enter password confirm" #passwordConfirm="ngModel" type="password" />
        <p class="help-block">Confirm password must be the same which password</p>
        <p class="field-error" *ngIf="(showErrors || !passwordConfirm.pristine) && step1Model.validateConfirmPassword().isValid === false">{{step1Model.validateConfirmPassword().errorMessage}}</p>
      </div>

      <div class="form-check">
        <input [(ngModel)]="step1Model.iAgree" type="checkbox" class="form-check-input" #iagree="ngModel">
        <label class="form-check-label" for="exampleCheck1">Agree to work for $1000000 per hour</label>
        <p class="field-error" *ngIf="(showErrors || !iagree.pristine) && !step1Model.iAgree">Your must agree to working for $1000000 per hour</p>
      </div>

      <button class="btn btn-lg btn-success btn-block btn-next" type="button" (click)="goToStep2()">Go to step 2</button>
    </div>
  </div>



  <!-- Step 2 -->
  <!-- =========================== -->
  <div class="panel panel-info" *ngIf="step === 2">
    <div class="panel-heading ">
      <h2 class="panel-title">Step 2</h2>
    </div>
    <div class="panel-body">
      <div class="alert alert-danger" *ngIf="message" role="alert">
        {{message}}
      </div>

      <div class="form-group">
        <label class="control-label">Country</label>
        <select class="form-control" (change)="countryChanged()" [(ngModel)]="step2Model.countryId">
          <option value="0">Select country</option>
          <option *ngFor="let country of step2Model.countries" value="{{country.id}}">{{country.title}}</option>
        </select>
        <p class="help-block">Country is a required field</p>
        <p class="field-error" *ngIf="showErrors && step2Model.countryId < 1">Select a country</p>
      </div>

      <div class="form-group">
        <label class="control-label">Province</label>
        <select class="form-control" [disabled]="step2Model.countryId < 1" [(ngModel)]="step2Model.cityId">
          <option value="0">Select a province</option>
          <option *ngFor="let city of step2Model.cities" value="{{city.id}}">{{city.title}}</option>
        </select>
        <p class="help-block">Province is a required field</p>
        <p class="field-error" *ngIf="showErrors && step2Model.countryId > 0 && step2Model.cityId < 1">Select a province</p>
      </div>

      <button (click)="saveUser()" class="btn btn-lg btn-success btn-block" type="button">Save</button>
    </div>
  </div>


  <!-- Step 3 -->
  <!-- =========================== -->
  <div class="panel panel-info" *ngIf="step === 3">
    <div class="panel-heading ">
      <h2 class="panel-title">Success</h2>
    </div>
    <div class="panel-body">
      <div class="alert alert-success" *ngIf="message" role="alert">
        {{message}}
      </div>      

      <button (click)="goToStep1()" class="btn btn-lg btn-success btn-block" type="button">Register new user</button>
    </div>
  </div>
</div>
